@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import "tailwindcss";

@theme {
  --font-jomhuria: "Jomhuria", serif;
  --text-default: 128px;
  --text-larger: 150px;
  --color-special-pink: #F10DED;
}

@layer base {
  button {
    font-size: var(--text-default);
    font-family: var(--font-jomhuria);
    color: white;
    line-height: 1;
  }
}
